<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabriel.swarmintelligence">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity_lead.activity_swarm_warning"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_lead.activity_after_warn_input"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_lead.activity_consensus_confirmation"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_lead.activity_counter"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_lead.activity_cta"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_lead.activity_lead_main"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_lead.activity_play_swarm"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_lead.activity_swarm_review"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_lead.activity_warn"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".activity_team.activity_team_main"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_team.activity_team_achievements"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_team.activity_team_create_team_discover"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_team.activity_team_create_team_interrupt"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_team.activity_team_create_team_interrupt_name_fill"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_team.activity_team_create_team_interrupt_sync"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_team.activity_team_discover_people_one"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_team.activity_team_leaderboard"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_team.activity_team_my_team"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_team.activity_team_my_team_edit"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
<!--        team fav-->
        <activity android:name=".team_favorite.TeamFavorites"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".team_favorite.TeamFavSearch"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
<!--        team ass-->
        <activity android:name=".activity_team.team_association.TeamAssociation"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".activity_team.team_association.TeamAssAdd"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
<!--        create username-->
        <activity android:name=".activity_team.create_username.Create_UserName"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>